/*Secondary CSS used by Portfolio and Contact Page for Header and Basic Body Styling*/
/*Resume Coded by Matthew Jones*/

/*Body Background and Margin Reset*/
body {
    background-color: rgb(45, 45, 45);
    margin: 0px;
}

/*Resets Margins for Headers*/
h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

/*Background Image*/
.headercontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 20vh;
    min-height: 300px;
    max-width: 2750px;
    background-image: url(../images/header.jpg);
    background-position: 0% 20%;
    background-size: cover;
    background-repeat: no-repeat;

}

/*Nav Container*/
.navcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 90%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

    /*Navigation Circle with Logo*/
   .navcircle {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       justify-content: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
       background-color: rgba(255, 255, 255, 1);
       width: 215px;
       height: 215px;
       border-radius: 100%;
       -webkit-transition: background-color 0.5s, width 1s, height 1s;
       transition: background-color 0.5s, width 1s, height 1s;
    }

    .navcircle:hover{
        background-color: rgba(240, 240, 240, 1);
    }

    /*Signature*/
    .sig{
        width: 200px;
        -webkit-transition: width 1s;
        transition: width 1s;
    }

    /*Nav List*/
    .navlist {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 60%;
        list-style-type: none;
        color: white;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 25px;
        padding: 0px;
    }

    /*Nav Dividers*/
    .navdivider {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    /*Nav Items*/
    .navitem{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0px 5px;
    }

    /*Nav Links*/
    .navlink{
        background-color: rgba(40, 40, 40, 0.5);
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        font-size: auto;
        -webkit-transition: background-color 0.25s, font-size 1s;
        transition: background-color 0.25s, font-size 1s;
    }

    .navlink:hover{
        background-color: rgba(40, 40, 40, 0.75);
    }

    /*Photo Cred*/
        #photocredtext{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            margin-right: 15px;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
        }

        #photocredlink{
            text-decoration: none;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            -webkit-transition: color 0.25s;
            transition: color 0.25s;
        }

        #photocredlink:hover{
            color: rgba(200, 200, 200, 1);
        }

/*Page Title Container*/
.page_title_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    /*Page Title Lines*/
    .page_title_line{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 10px;
        width: 35%;
        background-color: white;
    }

    /*Page Title Item*/
    .page_title{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: white;
        font-family: 'Roboto Slab', sans-seif;
        font-weight: 100;
        text-align: center;
        margin: 15px 5px;
    }


/*Copyright Footer*/

    /*Entire Footer*/
    footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-bottom: 10px;
    }

    /*Copyright Text*/
    .copyright {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        color: rgb(150, 150, 150);
    }

/*Contact Page*/

    /*Main Container*/
    .contact_main{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 20px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        /*Social Links Container*/
        .contact_social_container{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 45%;
            height: 625px;
            min-width: 325px;
            margin: 0px 15px;
            background-color: rgb(100, 100, 100);
            border-radius: 10px;
        }

            /*Social Links Title*/
            .contact_social_title{
                font-family: 'Roboto Slab', sans-serif;
                color: white;
                font-weight: 100;
                text-align: center;
                margin: 10px;
            }

            /*Social Links*/
            .social_link{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                width: 87%;
                height: 40px;
                min-height: 40px;
                font-family: 'Roboto', sans-serif;
                color: white;
                padding: 5px 7px;
                border-radius: 5px;
                text-decoration: none;
                margin-bottom: 10px;
                -webkit-transition: height 0.25s;
                transition: height 0.25s;
            }

            .social_link:hover{
                height: 45px;
            }

            .social_link:active{
                border: 1px inset grey;
            }

                /*Logos Next to Social Link*/
                .social_logo{
                    margin-right: 10px;
                }

                /*Instagram Link*/
                #instagram_link{
                    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
                }

                /*Facebook Link*/
                #facebook_link{
                    background-color: #3b5998;
                }

                /*Twitter Link*/
                #twitter_link{
                    background-color:  #55acee;
                }

                /*LinkedIn Link*/
                #linkedin_link{
                    background-color: #007bb5;
                }

                /*Snapchat Link*/
                #snapchat_link{
                    background-color: black;
                }

                /*Snapcode Link/Container*/
                .snapcode_link{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    width: 60%;
                    min-width: 225px;
                    max-height: 250px;
                }

                    /*Snapcode Image*/
                    .snapcode_img{
                        width: 100%;
                        height: 100%;
                        min-width: 225px;
                        max-height: 250px;
                    }

        /*Contact Form Container*/
        .contact_message_container{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 45%;
            min-width: 325px;
            background-color: rgba(130, 130, 130, 1);
            border-radius: 5px;
        }

            /*Contact Form Title*/
            .contact_message_title{
                font-family: 'Roboto Slab', sans-serif;
                color: white;
                font-weight: 100;
                text-align: center;
                margin-top: 10px;
            }

            /*Contact Form*/
            #contact_form{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                width: 100%;
            }

                /*Contact Form Box Titles*/
                .contact_form_box_titles{
                    font-family: 'Roboto Slab', sans-serif;
                    color: white;
                    font-weight: 100;
                    margin: 15px 0px 10px 0px;
                }

                /*Contact Form Text Areas*/
                .contact_form_textarea{
                    height: 25px;
                    width: 50%;
                    min-width: 275px;
                    border-radius: 2px;
                    padding: 5px;
                }

                    /*Message Field*/
                    .contact_form_textarea#message_field{
                        height: 200px;
                        resize: both;
                        overflow: auto;
                        padding: 10px;
                        border: 1.5px ridge lightgrey;
                    }

                /*Submit Button*/
                #contact_form_submit_button{
                    background-color: rgba(100, 100, 100, 1);
                    border-radius: 3px;
                    color: white;
                    height: 30px;
                    margin: 15px 0px;
                    min-width: 100px;
                    width: 25%;
                    border: none;
                }

                #contact_form_submit_button:active{
                    background-color: rgba(90, 90, 90, 1);
                    border: 1px inset grey;
                }

/*Portfolio Page- Some Code Adapted from w3Schools Lightbox Lesson*/

/*Gallery Container (contains columns)*/
.gallery_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    /*Gallery Columns (contains rows)*/
    .column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 45%;
        min-width: 300px;
        margin: 0px 10px;
    }

    /*Gallery Rows (contains gallery images)*/
    .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }

    /*Gallery Images*/
    .gallery_image{
        width: 100%;
        height: 100%;
        margin: 10px 0px;
    }

/*Lightbox*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

    /*Lightbox Content*/
    .modal-content {
        position: relative;
        background-color: black;
        margin: auto;
        width: 90%;
        max-width: 1200px;
}

        /*Lightbox Slide Container*/
        .lb_slides {
            display: none;
            background-color: black;
        }

        /*Lightbox Images*/
        .portfolio_image{
            width: 100%;
        }

/*Close Button*/
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover, .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

/*Next & Previous Buttons*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    border-radius: 0px 3px 3px 0px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

    /*Position the next button to the right*/
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /*Color Transition for Next & Previous Buttons*/
    .prev:hover, .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

/*Lightbox Number Text*/
.numbertext {
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*Media Querys*/

    /*Mobile Screen Layout for Index*/
    @media only screen and (max-width: 600px) {

        .navcontainer{
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .navcircle {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 175px;
            height: 175px;
            margin-top: 25px;
            margin-left: 0px;
        }

        .sig {
            width: 150px;
        }

        /*Reordering Nav List Items*/
            #portfolio_nav{
                -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                order: 1;
            }

            #home_nav {
                -webkit-box-ordinal-group: 4;
                -ms-flex-order: 3;
                order: 3;
            }

            #contact_nav{
                -webkit-box-ordinal-group: 6;
                -ms-flex-order: 5;
                order: 5;
            }

            #navdiv1{
                -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                order: 2;
            }

            #navdiv2{
                -webkit-box-ordinal-group: 5;
                -ms-flex-order: 4;
                order: 4;
            }
}

    /*Fixes Off-Centering for Navigation at Small Screen Sizes*/
    @media only screen and (max-width: 600px) {
        .navlist {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            }

        .navlink{
            background-color: rgba(0, 0, 0, 0);
        }

        .navlink:hover{
            background-color: rgba(0, 0, 0, 0);
        }

        #photocredtext{
            font-size: 10px;
        }
    }

    /*Fixes Navigation Sizing for iPhone 5 Screens*/
    @media only screen and (max-width: 500px) {
        .navlink{
            font-size: 20px;
         }
    }

    /*Fixes Margin on Contact Page on Mobile Screens*/
    @media only screen and (max-width: 690px) {

        /*Contact Form Container*/
        .contact_message_container{
            margin-top: 10px;
        }
    }
