/*Secondary CSS used by Portfolio and Contact Page for Header and Basic Body Styling*/
/*Resume Coded by Matthew Jones*/

/*Body Background and Margin Reset*/
body {
    background-color: rgb(45, 45, 45);
    margin: 0px;
}

/*Resets Margins for Headers*/
h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

/*Background Image*/
.headercontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    min-height: 300px;
    max-width: 2750px;
    background-image: url(../images/header.JPG);
    background-position: 0% 20%;
    background-size: cover;
    background-repeat: no-repeat;

}

/*Nav Container*/
.navcontainer {
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: space-around;
}

    /*Navigation Circle with Logo*/
   .navcircle {
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: rgba(255, 255, 255, 1);
       width: 215px;
       height: 215px;
       border-radius: 100%;
       transition: background-color 0.5s, width 1s, height 1s;
    }

    .navcircle:hover{
        background-color: rgba(240, 240, 240, 1);
    }

    /*Signature*/
    .sig{
        width: 200px;
        transition: width 1s;
    }

    /*Nav List*/
    .navlist {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        list-style-type: none;
        color: white;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 25px;
        padding: 0px;
    }

    /*Nav Dividers*/
    .navdivider {
        display: flex;
    }

    /*Nav Items*/
    .navitem{
        display: flex;
        padding: 0px 5px;
    }

    /*Nav Links*/
    .navlink{
        background-color: rgba(40, 40, 40, 0.5);
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        font-size: auto;
        transition: background-color 0.25s, font-size 1s;
    }

    .navlink:hover{
        background-color: rgba(40, 40, 40, 0.75);
    }

    /*Photo Cred*/
        #photocredtext{
            display: flex;
            justify-content: flex-end;
            margin-right: 15px;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
        }

        #photocredlink{
            text-decoration: none;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            transition: color 0.25s;
        }

        #photocredlink:hover{
            color: rgba(200, 200, 200, 1);
        }

/*Page Title Container*/
.page_title_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /*Page Title Lines*/
    .page_title_line{
        display: flex;
        height: 10px;
        width: 35%;
        background-color: white;
    }

    /*Page Title Item*/
    .page_title{
        display: flex;
        justify-content: center;
        color: white;
        font-family: 'Roboto Slab', sans-seif;
        font-weight: 100;
        text-align: center;
        margin: 15px 5px;
    }


/*Copyright Footer*/

    /*Entire Footer*/
    footer {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    /*Copyright Text*/
    .copyright {
        display: flex;
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        color: rgb(150, 150, 150);
    }

/*Contact Page*/

    /*Main Div*/
    .contact_main{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        justify-content: space-around;
    }

        /*Social Links Container*/
        .social_links_container{
            display: flex;
            width: 45%;
            height: 550px;
            min-width: 300px;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background-color: rgb(100, 100, 100);
            margin: 0px 15px;
        }

            /*Social Links (Coming Soon...)*/

    /*Contact Form Div*/
    .contact_info_container{
        width: 45%;
    }

        /*Contact Form Title*/
        .contact_message_title{
            font-family: 'Roboto Slab', sans-serif;
            color: white;
            font-weight: 100;
            text-align: center;
            margin-bottom: 10px;
        }

        /*Contact Form Box Titles*/
        .contact_form_box_titles{
            font-family: 'Roboto Slab', sans-serif;
            color: white;
            font-weight: 100;
            margin: 15px 0px 10px 0px;
        }

        /*Contact Form*/
        #contact_form{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
        }

            /*Contact Form Text Areas*/
            .contact_form_textarea{
                height: 30px;
                width: 50%;
                min-width: 300px;
            }

            /*Name Field*/
            .contact_form_textarea#name_field{

            }

            /*Email Field*/
            .contact_form_textarea#email_field{

            }

            /*Message Field*/
            .contact_form_textarea#message_field{
                height: 200px;
                resize: both;
                overflow: auto;
            }

            /*Submit Button*/
            #contact_form_submit_button{
                background-color: rgba(100, 100, 100, 1);
                border-radius: 3px;
                color: white;
                height: 30px;
                margin-top: 15px;
                min-width: 100px;
                width: 25%;
                border: none;
            }

/*Media Querys*/

    /*Mobile Screen Layout for Index*/
    @media only screen and (max-width: 600px) {

        .navcontainer{
            align-content: center;
            flex-direction: column;
        }

        .navcircle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 175px;
            height: 175px;
            margin-top: 25px;
            margin-left: 0px;
        }

        .sig {
            width: 150px;
        }

        /*Reordering Nav List Items*/
            #portfolio_nav{
                order: 1;
            }

            #home_nav {
                order: 3;
            }

            #contact_nav{
                order: 5;
            }

            #navdiv1{
                order: 2;
            }

            #navdiv2{
                order: 4;
            }
}

    /*Fixes Off-Centering for Navigation at Small Screen Sizes*/
    @media only screen and (max-width: 600px) {
        .navlist {
            justify-content: center;
            }

        .navlink{
            background-color: rgba(0, 0, 0, 0);
        }

        .navlink:hover{
            background-color: rgba(0, 0, 0, 0);
        }

        #photocredtext{
            font-size: 10px;
        }
    }

    /*Fixes Navigation Sizing for iPhone 5 Screens*/
    @media only screen and (max-width: 500px) {
        .navlink{
            font-size: 20px;
         }
}
