/*Resume Coded by Matthew Jones*/

/*Body Background and Margin Reset*/
body {
    background-color: rgb(45, 45, 45);
    margin: 0px;
}


/*Background Image*/
.headercontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    min-height: 850px;
    max-width: 2750px;
    background-image: url(../images/header.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Nav Container*/
.navcontainer {
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: space-around;
}

    /*Navigation Circle with Logo*/
   .navcircle {
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: white;
       width: 350px;
       height: 350px;
       border-radius: 100%;
    }

    /*Nav List*/
    .navlist {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        list-style-type: none;
        color: white;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 25px;
        padding: 0px;
    }

    /*Nav Dividers*/
    .navdivider {
        display: flex;
    }

    /*Nav Items*/
    .navitem{
        display: flex;
        padding: 0px 5px;
    }

    /*Nav Links*/
    .navlink{
        background-color: rgba(40, 40, 40, 0.5);
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        color: white;
    }

/*Name Container*/
.namecontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /*Name Lines*/
    .nameline{
        display: flex;
        height: 10px;
        width: 35%;
        background-color: white;
    }

    /*Name Item*/
    #name{
        display: flex;
        justify-content: center;
        color: white;
        font-family: 'Roboto Slab', sans-seif;
        font-weight: 100;
        text-align: center;
        margin: 15px 5px;
    }

    /*Photo Cred*/
        #photocredtext{
            display: flex;
            justify-content: flex-end;
            margin-right: 15px;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
        }

        #photocredlink{
            text-decoration: none;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
        }

/*About Container*/
.about_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
}


    /*Pic of Me*/
        .me{
            display: flex;
            min-width: 300px;
            max-width: 500px;
            width: 30%;
            height: 100%;
        }

    /*About Me Box*/
        .aboutbox{
            display: flex;
            flex-direction: column;
            background-color: rgb(95, 95 ,95);
            width: 65%;
            height: inherit;
            margin-left: 10px;
        }

        .aboutme_body{
            display: flex;
            font-family: 'Roboto', sans-serif;
            color: white;
            margin: 15px;
        }

        .aboutme_header{
            font-family: 'Roboto Slab', sans-serif;
            color: white;
            font-weight: 100;
            margin: 15px;
            line-height: 25px;
        }


/*Media Querys*/

    /*Smaller Screens for Smaller People*/
    @media only screen and (max-width: 1250px) {
        .headercontainer{
            min-height: 600px;
            max-height: 600px;
        }

        .navcontainer{
            align-content: center;
            flex-direction: column;
        }

        .navcircle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 250px;
            margin-top: 25px;
            margin-left: 0px;
        }

        .sig {
            width: 225px;
        }

        /*Reordering Nav List Items*/
            #portfolio_nav{
                order: 1;
            }

            #home_nav {
                order: 3;
            }

            #contact_nav{
                order: 5;
            }

            #navdiv1{
                order: 2;
            }

            #navdiv2{
                order: 4;
            }

        /*About Section*/
        .about_container{
            justify-content: center;
        }

        .aboutbox{
            min-width: 300px;
         }
    }

/*Fixes margins when screen is smaller*/
    @media only screen and (max-width: 900px) {

        .aboutbox{
            margin-top: 10px;
            margin-left: 0px;
         }

    }

    /*Fixes Off-Centering for Navigation at Small Screen Sizes*/
        @media only screen and (max-width: 600px) {
            .navlist {
                justify-content: center;
            }
    }

    /*Fixes Sizing for iPhone 5 Screens*/
    @media only screen and (max-width: 400px) {
        .navlink{
            font-size: 20px;
         }
}
