/*CSS Used by All Pages*/
/*Resume Coded by Matthew Jones*/

/*Body Background and Margin Reset*/
body {
    background-color: rgb(45, 45, 45);
    margin: 0px;
}

/*Background Image*/
.headercontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80vh;
    min-height: 850px;
    max-width: 2750px;
    background-image: url(../images/header.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Nav Container*/
.navcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 60%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

    /*Navigation Circle with Logo*/
   .navcircle {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       justify-content: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
       background-color: rgba(255, 255, 255, 1);
       width: 350px;
       height: 350px;
       border-radius: 100%;
       -webkit-transition: background-color 0.5s, width 1s, height 1s;
       transition: background-color 0.5s, width 1s, height 1s;
    }

    .navcircle:hover{
        background-color: rgba(240, 240, 240, 1);
    }

    /*Signature*/
    .sig{
        width: 100%;
        -webkit-transition: width 1s;
        transition: width 1s;
    }

    /*Nav List*/
    .navlist {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 60%;
        list-style-type: none;
        color: white;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 25px;
        padding: 0px;
    }

    /*Nav Dividers*/
    .navdivider {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    /*Nav Items*/
    .navitem{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0px 5px;
    }

    /*Nav Links*/
    .navlink{
        background-color: rgba(40, 40, 40, 0.5);
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        -webkit-transition: background-color 0.25s;
        transition: background-color 0.25s;
    }

    .navlink:hover{
        background-color: rgba(40, 40, 40, 0.75);
    }

/*Page Title Container*/
.page_title_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    /*Page Title Lines*/
    .page_title_line{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 10px;
        width: 35%;
        background-color: white;
    }

    /*Page Title Item*/
    .page_title{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: white;
        font-family: 'Roboto Slab', sans-seif;
        font-weight: 100;
        text-align: center;
        margin: 15px 5px;
    }

    /*Photo Cred*/
        #photocredtext{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            margin-right: 15px;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
        }

        #photocredlink{
            text-decoration: none;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            -webkit-transition: color 0.25s;
            transition: color 0.25s;
        }

        #photocredlink:hover{
            color: rgba(200, 200, 200, 1);
        }

/*Main Container*/
main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main_content{
    max-width: 1500px;
}

/*Section Containers*/
.section_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 15px;
}

    /*General Formatting for Section Pictures*/
    .section_picture{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-width: 300px;
        max-width: 500px;
        width: 30%;
        height: 100%;
    }

    .section_box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: rgb(95, 95 ,95);
        width: 65%;
        height: inherit;
    }

    .section_header{
        font-family: 'Roboto Slab', sans-serif;
        color: white;
        font-weight: 100;
        margin: 15px 15px 0px 15px;
        line-height: 25px;
    }

    .section_body{
        font-family: 'Roboto', sans-serif;
        color: white;
        margin: 15px 15px 0px 15px;
    }

    .section_body:last-child{
        margin-bottom: 15px;
    }

        /*About Section*/
        #about_box{
            margin-left: 10px;
        }

        #about_picture{
            -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
            order: 0;
        }

        /*Achievements Section*/
        #achievements_box{
            margin-right: 10px;
        }

        #achievements_picture{
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
        }

/*Copyright Footer*/

    /*Entire Footer*/
    footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-bottom: 10px;
    }

    /*Copyright Text*/
    .copyright {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        color: rgba(150, 150, 150, 1);
    }

/*Media Querys*/

    /*Mobile Screen Layout for Index*/
    @media only screen and (max-width: 1250px) {
        .headercontainer{
            min-height: 600px;
            max-height: 600px;
        }

        .navcontainer{
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .navcircle {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 250px;
            height: 250px;
            margin-top: 25px;
            margin-left: 0px;
        }

        .sig {
            width: 225px;
        }

        /*Reordering Nav List Items*/
            #portfolio_nav{
                -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                order: 1;
            }

            #home_nav {
                -webkit-box-ordinal-group: 4;
                -ms-flex-order: 3;
                order: 3;
            }

            #contact_nav{
                -webkit-box-ordinal-group: 6;
                -ms-flex-order: 5;
                order: 5;
            }

            #navdiv1{
                -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                order: 2;
            }

            #navdiv2{
                -webkit-box-ordinal-group: 5;
                -ms-flex-order: 4;
                order: 4;
            }

        /*About Section*/
        .section_container{
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .section_box{
            min-width: 300px;
         }
    }

    /*When Flexboxs Collapse on Index*/
    @media only screen and (max-width: 900px) {

        /*Fixes top margin for section boxes*/
        .section_box{
            margin-top: 10px;
         }

        /*Fixes left margin for about box*/
        #about_box{
            margin-left: 0px;
        }

        /*Fixes right margin for achievment box*/
        #achievements_box{
            margin-right: 0px;
        }

        /*Fixes picture order for achievemnts*/
        #achievements_picture{
            -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
            order: 0;
        }
    }

    /*Fixes Off-Centering for Navigation at Small Screen Sizes*/
    @media only screen and (max-width: 600px) {
        .navlist {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            }
    }

    /*Fixes Navigation Sizing for iPhone 5 Screens*/
    @media only screen and (max-width: 400px) {
        .navlink{
            font-size: 20px;
         }
}
